html {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

ul {
  text-align: left;
}

body {
  background-color: #c4cef4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  place-items: center;
}

input {
  width: 40%;
  height: 5vh;
  font-size: 3vh;
  border-radius: 15px;
}

p {
  background-color: #5c7ad4;
  color: #fffeec;
  border-radius: 15px;
  padding: 2%;
}

h1 {
  background-color: #fffae4;
  color: #5c4a24;
  border: 5px solid #fffeec;
  height: 11%;
  margin: 0;
  text-align: center;
  border-radius: 15px;
}

button {
  background-color: #5c7ad4;;
  color: #fffeec;
  border-radius: 15px;
  padding: 2%;
  margin-top: 5%;
  cursor: pointer;
}

.cards {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.login-card {
  all: unset;
  background-color: #fffae4;;
  border: 5px solid #fffeec;
  border-radius: 15px;
  color: #5c4a24;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
}

.card {
  all: unset;
  background-color: #fffae4;;
  border: 5px solid #fffeec;
  border-radius: 15px;
  color: #5c4a24;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 40%;
  margin: inherit;
}

.hide {
  display: none;
}